body{
    margin: 0;
    padding: 0;
    text-align: center;

}
#title-container{
    max-width: 150vw;
    max-height: 100vh;
    
}
#title{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 10px;
}

#title-container {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: rgb(220, 220, 220);
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #7b7b7b;
  }

.profile-container{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    height: 600px;

}

#prof-img{
    margin-top: 10px;
    border-radius: 20px;
    width: 25vw;
    height: 60vh;
}
#profile-info{
    font-family:monospace;
    margin: 0;
    font-size: 15px;
    margin-left: 2%;
    #name{
        font-size: 50px;
    }
    #name-{
        font-size: 20px;
    }
    
}
@media only screen and(max-width:600px){
    #title-container,.profile-container,.profile,#profile-info{
        width: 80%;
    }
    #title,#menu,#profile-img,#name,#name-{
        width: 100%;
    }
}

.container{
    display: flex;
    justify-content: center;
}
#subject{
    margin-top: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.web2,.personal{
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    height: 30vh;
    margin: 10px;
    margin-top: 100%;
    width: 20vw;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
    
    
}
#fav,#table,#login,#notes,#shoe{
    font-weight:bolder;
    border: none;
    width: 10vw;
    margin-bottom: 0px;
    padding:5px;
    background-color:rgb(255, 255, 255);
    border-radius:20px;
    box-shadow: 0px 0px 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 600px) {
    .container.web2,.personal,.subject{
        width: 80%;
    }

    #fav, #table,#login,#notes,#shoe {
        width: 100%;
    }
}
#fav:hover{
    background-color: #689cfc;
}#shoe:hover{
    background-color: #689cfc;
}
#table:hover{
    background-color: #689cfc;
}
